<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <input type="text" [(ngModel)]="ToDoItem" name="todoitem" (keyup.enter)="SaveItem()"/>
  <div  @myInsertRemoveTrigger  *ngFor="let currentRow of ToDoItems; let i = index">
    <span *ngIf="!IsEditing[i]">{{currentRow}}</span>
    <input *ngIf="IsEditing[i]" type="text" [(ngModel)]="EditTarget[i]" name="todoedititem" (keyup.enter)="CompleteEditItem(i)"/>
    <button (click)="EditItem(i)">{{IsEditing[i]?"Cancel":"Edit"}}</button>
    <button *ngIf="!IsEditing[i]" (click)="DeleteItem(i)">Delete</button>
  </div>
</div>

<router-outlet></router-outlet>
